/TheSoftwareGuild/Projects/AddressBook/target/
/FantasySports/target/
/Hello/nbproject/private/
/Hello/build/
/Tutorials/target/
/CelsiusConverterGUI/nbproject/private/
/CelsiusConverterGUI/build/
/CelsiusConverterGUI/dist/
/PBD/97_PictureMenu/nbproject/private/
/PBD/PictureMenu/target/
/PBD/Functions/FlickerPhrase/target/
/PBD/Functions/HeronsFormula/target/
/PBD/ForLoops/CountingWithAForLoop/target/